In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [4]:
# Function to extract Product Title
def get_Title(soup):
    try:
        Title = soup.find("h3").text.strip()
    except AttributeError:
        Title = "N/A"
    return Title

In [5]:
# Function to extract Product Discount Price
def get_Price(soup):
    try:
        Price = soup.find("span", {'class': 'special-price sp-custom check-3'}).text.strip()
    except AttributeError:
        Price = "N/A"
    return Price

In [6]:
# Function to extract Product Discount
def get_Product_Model(soup):
    try:
        Product_Model = soup.find("div", {'class': 'product attribute sku'}).text.strip()
    except AttributeError:
        Product_Model = "N/A"
    return Product_Model

In [7]:
# Function to extract Product Original Price
def get_Product_Tag(soup):
    try:
        Product_Tag = soup.find("div", {'class': 'product_tags'}).text.strip()
    except AttributeError:
        Product_Tag = "N/A"
    return Product_Tag

In [8]:
if __name__ == '__main__':

    # add your user agent 
    headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"
}

In [9]:
 # The webpage URL
url = "https://www.helioswatchstore.com/mens-watches"

In [10]:
# HTTP Request
webpage = requests.get(url, headers=headers)

In [11]:
# Soup Object containing all data
soup = BeautifulSoup(webpage.content, "html.parser")

In [12]:
# Fetch links as List of Tag Objects
links = soup.find_all("a", {'class':'product photo product-item-photo'})

In [13]:
# Store the links
links_list = []

In [14]:
# Loop for extracting links from Tag Objects
for link in links:
        links_list.append(link.get('href'))

In [15]:
d = {"Title":[], "Price":[], "Product_Model":[], "Product_Tag":[]}

In [16]:
# Loop for extracting product details from each link 
for link in links_list:
    new_webpage = requests.get(link, headers=headers)

    new_soup = BeautifulSoup(new_webpage.content, "html.parser")

    # Function calls to display all necessary product information
    d['Title'].append(get_Title(new_soup))
    d['Price'].append(get_Price(new_soup))
    d['Product_Model'].append(get_Product_Model(new_soup))
    d['Product_Tag'].append(get_Product_Tag(new_soup))

In [17]:
Watch_df = pd.DataFrame.from_dict(d)
Watch_df['Title'].replace('', np.nan, inplace=True)
Watch_df = Watch_df.dropna(subset=['Title'])
Watch_df.to_csv("Watch_data.csv", header=True, index=False)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9908\1793676314.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Watch_df['Title'].replace('', np.nan, inplace=True)

In [18]:
Watch_df

           Title    Price        Product_Model Product_Tag
0         Movado  ₹74,625          SKU 3600898    Trending
1          Guess  ₹12,695         SKU GW0386G3    Trending
2        Versace  ₹89,500        SKU VEVK00620    Trending
3        Cerruti  ₹30,000  SKU CECIWGN0019503W    Trending
4        Balmain  ₹47,300        SKU B41083152    Trending
5        Citizen  ₹36,900       SKU NJ0151-88M    Trending
6   Kenneth Cole      N/A        SKU KCGD21740    Trending
7           Edge  ₹19,495         SKU 1843QM02    Trending
8        G-Shock  ₹16,995            SKU G1160    Trending
9          Casio   ₹5,995             SKU D128    Trending
10        Fitbit      N/A        SKU FB521BKGB    Trending
11        Tissot  ₹37,000   SKU T1374101104100    Trending